*{
  margin: 0;
   padding: 0;

}

:root{

}

.cabecalho{
   background-color: rgb(68, 67, 67);
padding: 115px;;
}

.corpo{
background-color: rgb(228, 0, 0);
padding: 150;
}

.footer{
background-color: rgb(58, 57, 57);
padding: 145%;
}

 .boton{
   position: fixed;
   top: 20px;
   left: 20px;
   padding: 10px 20px;
background-color: rgb(0, 141, 197);
color: rgb(0, 91, 209);
text-decoration: none;
border-color: rgb(4, 156, 245);
 }

 .boton:hover{
background:linear-gradient(to right, #ff0000, #302f30, #ff0000);

 }
 .boton:active{
   font-size: 15px;
 }