*{
  margin: 0;
   padding: 0;

}

:root{


}

.cabecalho{
   background-color: red;
padding: 115px;;
}

.corpo{
background-color: black;
padding: 150%;
}

.footer{
background-color: darkblue;
padding: 110%;
}
